* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Inter;
}

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

.container {
  width: 548.15px;
  height: 573.07px;
}

.container nav {
  height: 111.62px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid black;
  padding: 0 26px;
}

.container nav h1 {
  font-weight: 900;
  font-size: 25.35px;
  line-height: 40.27px;
}

.container nav a {
  font-weight: 600;
  font-size: 16px;
  line-height: 22.92px;
  color: #4D4D4D;
}

.container nav .links {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 12.95px;
}

.container main {
  Height: 386.7px;
  background-image: url(images/image1.jpg);
  background-color: #00000075;
  text-align: center;
  padding: 65.78px 26.91px;
}

.container main h2 {
  font-Weight: 800;
  font-Size: 36px;
  Line-height: 42px;
  color: #fff;
}

.container main p {
  font-weight: 500;
  font-size: 16;
  line-height: 24px;
  color: #fff;
  margin-top: 22.64px;
}

.container main button {
  width: 100%;
  height: 49.83px;
  background: #FF8C38;
  border-radius: 5px;
  margin-top: 51.66px;
  border: none;
  outline: none;
  cursor: pointer;
  font-Weight: 700;
  font-Size: 15.95px;
  Line-height: 31.66px;
  color: #fff;
}

.container footer {
  position: relative;
  height: 74.75px;
  font-size: 14px;
  line-height: 22.92px;
  font-weight: 500;
  background: #252525;
  color: #AAAAAA;
}

.container footer p {
  width: fit-content;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translatey(-50%) translatex(-50%);
}